{% extends "base.html" %}
{% load static %}

{% block body %}
  <div class="container-fluid" style="max-width: 100%;">
    <div class="row">
    <div class="col-sm-12">
    <div class="mx-auto">

    <form action="" method="get">
    {% csrf_token %}
      <div class="form-group">
            
        <textarea maxlength="140" name="words" class="form-control" rows="3" id="focusedInput"></textarea>
        <div class="d-flex justify-content-end" id="twButton">
            <input type="submit" class="btn btn-info" value="Tweet">
        </div>
        
      </div>
    </form>

    {% if words %}
    <div class="balloon1 d-flex justify-content-around">
      <p>{{ words | urlize | linebreaks }}</p>
    </div>
   
    {% endif %}
    <div class="text-center mt-4">
        <img src="{% static 'img/animal_hamster.png' %}" width="120px"/>
    </div>
    </div>
    </div>
    </div>
  </div>

  {% endblock %}

